<div class="signup-container">

  <div class="alert alert-warning alert-dismissible fade show col-lg-4 col-md-6 col-sm-12" role="alert">
    <strong>Ho, ho, ho.</strong> Just a quick reminder. At the moment you can only be in one group with the same e-mail address.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="form-box">
    <h2>Sign up</h2>
    <p>Register now and create a secret santa group or join an existing one</p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "First Name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Last Name" }%>
          <%= f.input :avatar,
                      autofocus: true,
                      hint: 'Add a picture to your profile.',
                      input_html: { autocomplete: "avatar" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions" style="margin-bottom: 30px">
          <%= f.button :submit, "Sign up", :class => "btn-secondary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>
