<div class="container-fluid d-flex justify-content-center group-container">
  <div class="col-lg-6 col-sm-12 col-xs-12 add-group-info">
    <div class="image">
      <img src=<%= asset_path('lama2.png') %>>
    </div>
    <p>Create a secret santa group. Once created, you will be able to invite your friends, family & colleagues</p>
    <% if @user.group_id == nil %>
      <%= simple_form_for @group do |f| %>
        <%= f.input :name, required: true %>
        <%= f.input :description, required: true %>
        <%= f.input :photo, hint: 'This photo will appear as a cover image on your group page.' %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: 'btn btn-secondary mb-2' %>
      <% end %>
    <% else %>
    <p>You are already in a group mister.</p>
    <%= link_to 'Back to home', root_path, class: 'btn btn-outline-secondary btn-sm' %>
    <%= link_to 'Go to my group', group_path(@user.group_id), class: 'btn btn-outline-secondary btn-sm' %>
    <% end %>
  </div>
</div>
