<div class="show-group-container">
  <%= render 'banner_image' %>

    <div class="container group-background">
      <div class="row group-row d-flex justify-content-around align-items-start">

        <div class="col-lg-7 col-sm-12">

          <%= render 'greeting' %>

          <div class="description group-box">
            <input class="form-control form-control-lg" type="text" value="<%= request.original_url %>" id="url-input">
            <button class="btn btn-secondary" id="copy-button">Copy URL</button>
            <p>Copy this URL and invite your friends, family or colleagues to <%= @group.name %></p>
          </div>

          <% if current_user.group_id == @group.id && current_user.user_status == 'approved' %>

          <div class="description group-box">
           <h2>Description & group rules</h2>
           <%= @group.description %>
          </div>

        </div>

        <div class="col-lg-5 col-sm-12">

          <% if @group.status == 'drawn' %>

          <% if current_user.receiver_id != nil %>

          <div class="group-box">
            <% receiver = User.find(current_user.receiver_id) %>
              <h2>You have to give a gift to <%= receiver.first_name %> <%= receiver.last_name %></h2>
              <div class="card-user">
                <% if receiver.avatar.file.nil? %>
                  <img src=<%= asset_path("placeholder.jpg") %>>
                <% else %>
                  <%= cl_image_tag receiver.avatar, class: "avatar" %>
                <% end %>
                <div class="card-user-infos">
                  <h2><%= User.find(current_user.receiver_id).first_name %> <%= User.find(current_user.receiver_id).last_name %></h2>
                  <% if User.find(current_user.receiver_id).admin == true %>
                    <p>ADMIN</p>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>

          <%= render 'group_members' %>

        </div>
    </div>
  </div>
</div>
<% end %>

